html {
  font-family: -apple-system, Roboto, sans-serif, serif;
  margin: 0 3em;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
}

.page-styles {
  color: #232129;
  padding: 96px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: black;
}